body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 30px;
}

label {
  display: block; 
  margin-top: 1rem; 
  margin-bottom: .3rem;
  color: #bbb;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%; 
  max-width: 600px;
  padding: .6rem .8rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 1rem auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 20px; /* plus arrondi */
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    max-width: 600px;
    display: block;
    margin: 1rem auto;
}

button:hover {
  background: #ff8533;
}

#map {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto 0 auto;
    border-radius: 15px;
}

#alert {
  max-width: 600px;
  margin: 0 auto;
  color: #ff5252;
  font-weight: bold;
  min-height: 1.5em;
}
